/* Default Design */
.gfg-div1 {
  font-size: 45px;
}
@media screen and (min-width: 1024px) {
  .gfg-div1 {
    font-size: 45px;
  }
}

/* For Tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .gfg-div1 {
    font-size: 25px;
  }
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .gfg-div1 {
    font-size: 25px;
  }
}

/* For Mobile Landscape View */
@media screen and (max-device-width: 640px) and (orientation: landscape) {
  .gfg-div1 {
    font-size: 25px;
  }
}

/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {
  .gfg-div1 {
    font-size: 25px;
  }
}

/* For iPhone 4 Portrait or Landscape View */
@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
  .gfg-div1 {
    font-size: 25px;
  }
}

/* For iPhone 5 Portrait or Landscape View */
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
  .gfg-div1 {
    font-size: 25px;
  }
}

/* For iPhone 6 and 6 plus Portrait or Landscape View */
@media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3) {
  .gfg-div1 {
    font-size: 25px;
  }
}

/* Default Design */
.gfg-div {
  font-size: 60px; /* Restore original size for desktop */
}
@media screen and (min-width: 1024px) {
  .gfg-div {
    font-size: 60px; /* Restored original desktop size */
  }
}

/* For Tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .gfg-div {
    font-size: 40px; /* Adjusted for tablets */
  }
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .gfg-div {
    font-size: 4vw;
  }
}

/* For Mobile Landscape View */
@media screen and (max-device-width: 640px) and (orientation: landscape) {
  .gfg-div {
    font-size: 4vw;
  }
}

/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {
  .gfg-div {
    font-size: 24px; /* Increased from 18px for better visibility */
    margin-right: 8px; /* Add right margin for separation from text */
  }
}

/* For iPhone 4 Portrait or Landscape View */
@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
  .gfg-div {
    font-size: 4vw;
  }
}

/* For iPhone 5 Portrait or Landscape View */
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
  .gfg-div {
    font-size: 4vw;
  }
}

/* For iPhone 6 and 6 plus Portrait or Landscape View */
@media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3) {
  .gfg-div {
    font-size: 4vw;
  }
}

/* Typography improvements for responsiveness */
.text-overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

/* Container fixes for mobile */
.social-text-container {
  max-width: 200px; /* Increased for desktop */
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 768px) {
  .social-text-container {
    max-width: 150px; /* Increased from 120px for more text */
    line-height: 1.5; /* Improved line height for alignment */
  }
}

@media screen and (max-width: 480px) {
  .social-text-container {
    max-width: 100px; /* Increased from 80px */
    line-height: 1.5; /* Ensures link text properly aligns with icon */
  }
}

.css-ptd8dw {
  margin-left: 0px !important;
}

.css-n5v0xo {
  margin-left: 0px !important;
}

.css-o6guma {
  margin-left: 0px !important;
}
