html {
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
}

#progressBarContainer {
  position: fixed;
  z-index: 10;
  background: transparent;
  width: 100%;
  top: 89px;
  left: 0;
  border-radius: 40px;
}

#progressBar {
  background: linear-gradient(to left, #5b8f81, #dfeee0);
  transform-origin: left;
  width: 100%;
  will-change: transform;
  transition: transform 0.1s ease-out;
  border-radius: 40px;

  /* opacity: 0; */
}

#progressBarContainer,
#progressBar {
  height: 7px;
  border-radius: 40px;
  transform: translateZ(0);
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
}

@media (max-width: 768px) {
  #progressBarContainer {
    top: 60px; /* Adjust this value to align with the mobile navbar */
    position: fixed;
    z-index: 1000;
  }
  
  #progressBar {
    transition: transform 0.05s ease-out;
  }
}
